############################################
# Python
############################################

__pycache__/
*.py[cod]
*.pyo
*.pyd

*.sqlite3
*.db

.venv/
venv/
env/

.pytest_cache/
.coverage
htmlcov/

.mypy_cache/

.ruff_cache/

############################################
# FastAPI
############################################

logs/

*.log

############################################
# VS Code
############################################

.vscode/settings.json

############################################
# Angular
############################################

frontend/travel-ui/node_modules/

frontend/travel-ui/dist/

frontend/travel-ui/.angular/

############################################
# OS Files
############################################

.DS_Store

Thumbs.db

############################################
# Build
############################################

build/

dist/

*.egg-info/

############################################
# IDE
############################################

.idea/

############################################
# Environment

.env

.env.*
